.color1 {
    color: #000006;
}

.color2 {
    color: #2b2e3e;
}

.color3 {
    color: #8a8f8e;
}

.color4 {
    color: #ebebe7;
}

.color5 {
    color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000006;
}

.d-none {
    display: none;
}

@media(min-width:0) {

    /* NAV */
    nav .nav_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .d-none {
        display: none;
    }

    .d-block {
        display: block;
    }

    header {
        padding: 2rem;
    }

    .brand img {
        width: 5rem;
    }

    nav button {
        width: 1.7rem;
        height: 1rem;
        background: none;
        border: none;
        border-top: 0.3rem solid #8a8f8e;
        border-bottom: 0.3rem solid #8a8f8e;
        border-radius: 0.3rem;
    }

    ul{
        margin-top: 2rem;
    }

    li a {
        font-size: 1.5rem;
        color: #8a8f8e;
        text-decoration: none;
    }

    nav li{
       text-align: center; 
       padding-bottom: 1rem;
    }

    /*Formulário*/
    
    .form_texto_form{
      display: none;
    }
  }

@media(min-width:768px) {

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

     /*Formulário*/
    
    .form_texto_form{
      display: none;
    }

}

@media(min-width:1000px) {}



/*formulario*/

.form_titulo {
  text-align: center;
  font-size: 260%;
}

.form_texto_form{
  display: flex;
  width: 80%;
  padding: 20px;
}

.form_texto_div{
  margin: 10px;
}

.form_texto{
    color: rgb(77, 75, 75);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 220%;
    padding: 60px;
    border-radius: 15px;
    letter-spacing: 2px;
    text-align: justify;  
}

form {
    background-color: white;
    padding: 50px 120px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);

  }

  .inscrever {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
  }
  
  form .input{
    width: 160%;
    margin-top: 10px; /**/
    margin-bottom: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  form .input:focus {
    border: 1px solid #639;
    outline: none;
  }
  
  .form_marketing {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .form_marketing > input {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .form_marketing > label {
    color: grey ;
 
  }

  .form_botao{
    display: flex;
    justify-content: space-around;
    width: 120%;
  }
  
  .checkbox, input[type="checkbox"] {
    accent-color: #639  !important;
  }
  
  .form_sub, .form_res {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: 1px dashed #639;
    cursor: pointer;
  }
  
  .form_sub:hover, .form_res:hover {
    color: #639;
    background-color: white;
    border: 1px solid #639;
    cursor: pointer;
    transition: 0.5s;
  }