.bg-color-1 {
    background-color: #2b2e3e;
}

.text-color1 {
    color: #f9f9f9;
}


.text-color2 {
    color: #2d3533;
}

.bg-color-2 {
    background-color: #ebebe7;
}

.bg-color-3 {
    background-color: #000006;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000006;
}

.d-none {
    display: none;
}

header {
    position: fixed;
    width: 100vw;
}

video{
    width: 70vw;
}
.w-75{
    width: 75%;
    margin: auto;
}
.py{
    margin: 2rem auto;
}

.text-center{
    text-align: center;
}

@media(min-width:0) {
    /*FONT SIZES*/

    p {
        font-size: 16px;
        font-family: 'Mulish';
    }

    h1 {
        font-size: 28px;
        max-width: 80%;
        text-align: center;
        margin: auto;
        text-transform: uppercase;
        margin-top: 8rem;
        font-family: 'Montserrat';
    }

    h2 {
        font-size: 24px;
        max-width: 80%;
        text-align: center;
        margin: auto;
        font-family: 'Montserrat';
    }

    tr, td {
        font-size: 18px;
        font-family: 'Mulish';
    }
    
    dl{
        font-size: 16px;
        font-family: 'Mulish';
    }
    /* NAV */
    nav .nav_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        padding: 2rem;
    }

    .d-none {
        display: none;
    }

    .d-block {
        display: block;
    }

    header {
        width: 100%;
    }

    .brand img {
        width: 2rem;
    }

    nav button {
        width: 1.7rem;
        height: 1rem;
        background: none;
        border: none;
        border-top: 0.3rem solid #8a8f8e;
        border-bottom: 0.3rem solid #8a8f8e;
        border-radius: 0.3rem;
    }

    ul {
        width: 80%;
        margin: 2rem auto;
    }

    li a {
        font-size: 1.5rem;
        color: #8a8f8e;
        text-decoration: none;
        font-family: 'DM Sans';
    }

    nav li {
        text-align: center;
        padding-bottom: 1rem;
    }

    /* TITULO */

    .carrossel {
        width: 15rem;
        border: 0.5px solid white;
    }

    .carrossel-div {
        text-align: center;
        margin-top: 3rem;
    }

    /* GALERIA */

    .galeria {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon {
        width: 3rem;
        border: none;

    }

    .galeria-item {
        height: auto;
    }

    .galeria-item:not(.ativo) {
        display: none;
    }

    .galeria-item img {
        width: 60vw;
    }

    /*Formulário*/

    .form_texto_form {
        display: inline;
    }

    form {
        width: 70vw;
        background-color: white;
        padding: 50px 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgrey;
        box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
        margin: auto;
    }

    .form_texto {

        letter-spacing: 2px;
        font-weight: bold;
        padding: 20px 30px;
        border-radius: 15px;
        letter-spacing: 2px;
        text-align: justify;
    }

    section {
        padding: 2rem 0rem;
    }

    /*Sobre deepfake*/
    .div_info {
        display: flex;
    }

    .div_info_texto { 
        padding: 20px 30px;
        text-align: justify;
        color: #2d3533;
        
    }
    .div_info_texto p {
        margin-bottom: 8px;
    }
    /* footer */
    footer img{
        margin: 2rem auto;
        width: 5rem;
    }

    /*problemas deepfake*/
    .div_prob {
        display: inline;
    }

    .div_prob_texto { 
        padding: 20px 30px;
        text-align: justify;
        color: #2d3533;
        display: flex;
       
        
    }
    .div_prob_texto p {
        margin-bottom: 8px;
    }

    .div_tables {
        display: flex;
    }

    .tables {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .tables th{
        height: 100px;
        padding: 1px 15px;
        text-align: left;
        border: 1px solid black;
    }
    
    .tables td{
        height: 20px;
        vertical-align: top;
        padding: 5px 15px;
        text-align:justify;
        border: 1px solid black;
    } 
    
    

    /*sobre nós*/
    .sobrenos_div{
        letter-spacing: 2px;
        font-weight: bold;
        padding: 20px 30px;
        border-radius: 15px;
        letter-spacing: 2px;
        text-align: justify;
    }

}

@media(min-width:768px) {

    /*FONT SIZES*/
    p {
        font-size: calc(16px + 2 * ((100vw - 600px) / 400));
    }

    h1 {
        font-size: calc(28px + 4 * ((100vw - 600px) / 400));
        margin-top: 0rem;
        text-align: left;
    }

    h2 {
        font-size: calc(24px + 3 * ((100vw - 600px) / 400));
    }

    /* NAV */
    nav .nav_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;

    }
    ul {
        width: 80%;
        margin: 0rem auto;
    }

    nav {
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        justify-content: space-between;
    }

    .d-none {
        display: none;
    }

    ul {
        gap: 3rem;
    }

    ul li a{
        font-size: 1rem;
    }
    
    

    .d-block {
        display: block;
    }

    .d-md-flex {
        display: flex;
    }

    header {
        padding: 0.5rem;
    }

    .brand img {
        width: 2rem;
    }

    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    /* TITULO */

    .carrossel {
        width: 15rem;
    }

    .title-div-father {
        align-items: center;
    }

    /*Formulário*/

    .form_formdiv {
        width: 60%;
        max-height: 700px;
    }

    .form_texto_form {
        margin-top: 2rem;
        align-items: center;
        display: flex;
        width: 100% !important;
    }

    form {
        width: 100%;
        background-color: white;
        padding: 50px 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid lightgrey;
        box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
    }

    .form_texto {
        letter-spacing: 2px;
        font-weight: bold;
        padding: 20px 30px;
        border-radius: 15px;
        letter-spacing: 2px;
        text-align: justify;
    }

    .form_texto_div {
        width: 50%;
    }


    section {
        width: 80%;
        margin: auto;
        padding: 5rem 0rem;
    }

    /* footer */

    .footer{
        justify-content: space-around;
        align-items: center;
    }
    footer{
        padding: 2rem 0rem;
    }

    footer dl{
        padding: 0.5rem;
    }
}

@media(min-width:1000px) {

    /*FONT SIZES*/

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    /* NAV */

    ul {
        margin-top: 0;
        gap: 3rem;
    }

    li a {
        font-size: 1rem;
    }

    li {
        padding-bottom: 0 !important;
    }

    /* TITULO */
    .title-div-father {
        width: 90%;
        margin: auto;
        align-items: center;
    }

    .carrossel {
        width: 100%;
        border: 1px solid white;
    }

    .carrossel-div {
        width: 30rem;
    }

    /* FORMULARIO */
    .form_texto_div {
        width: 50%;
    }



    .form_texto {
        letter-spacing: 2px;
        font-weight: bold;
        border-radius: 15px;
        letter-spacing: 2px;
        text-align: justify;
    }

    .form_texto_form {
        justify-content: space-around;
    }

    form {
        width: 80%;
        padding: 30px 20px;
    }

    .form_formdiv {
        width: 40%;
        max-height: 700px;
    }

}



/*formulario*/

.form_titulo {
    text-align: center;
}

.form_texto_div {
    margin: 10px;
}

.inscrever {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

form .input {
    width: 80%;
    margin-top: 10px;
    /**/
    margin-bottom: 10px;
    height: 10%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    outline: none;
}

form .input:focus {
    border: 1px solid #639;
    outline: none;
}

.form_marketing {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.form_marketing>input {
    margin-right: 5px;
    margin-bottom: 5px;
}

.form_marketing>label {
    color: grey;

}

.form_botao {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}

.checkbox,
input[type="checkbox"] {
    accent-color: #639 !important;
}

.form_sub,
.form_res {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: 1px dashed #639;
    cursor: pointer;
}

.form_sub:hover,
.form_res:hover {
    color: #639;
    background-color: white;
    border: 1px solid #639;
    cursor: pointer;
    transition: 0.5s;
}